cartografia/
ejemplos/
# Downloaded papers
estado-del-arte/

# LaTeX
# *.pdf
*.synctex.gz
*.fdb_latexmk
*.fls
*.log
*.aux
*.synctex*
*.lof
*.lot
*.toc
*.tdo

*-blx.bib
*.bbl
*.blg
*.run.xml
*.out
*.bcf
*-SAVE-ERROR

# Misc
*.png~
